<app-container>
  <header>
    <section class="cabecalho-link">
      <img src="/logo.png" alt="">
      <div>
        <button>
          <img class="seta" src="/arrow-left.png" alt="">
          <a routerLink="">Voltar</a>
        </button>
      </div>
    </section>
    <section class="cabecalho-contato">
      <img src="/adicionar-contato.png" alt="">
      <h1>Adicionar contato</h1>
    </section>

    <section class="perfil">
      <ul>
        <li>
          <i class="material-icons">call</i>
          <strong>Telefone</strong>
        </li>
        <li>{{ contact.telefone }}</li>
        <li>
          <i class="material-icons">mail</i>
          <strong>Email</strong>
        </li>
        <li>{{ contact.email }}</li>
        <li>
          <i class="material-icons">event_available</i>
          <strong>Data de nascimento</strong>
        </li>
        <li>{{ contact.aniversario }}</li>
        <li>
          <i class="material-icons">language</i>
          <strong>Redes sociais</strong>
        </li>
        <li>{{ contact.redeSocial }}</li>
      </ul>
      <div class="botoes">
        <button (click)="delete()" class="botao-excluir">
          Excluir contato
        </button>
        <button class="botao-editar">
          Editar
        </button>
      </div>
    </section>
  </header>